@charset "utf-8";
/* menu top */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*.contro {
    margin: 0px;
    width: 1350px;
}*/
.contro {
    padding: 0px 90px 0px 90px;
}

/* body */




/* góp ý */

.boxx {
    margin-top: 5px;
    padding: 0.5% 1% 1% 1%;
    width: 1140px;
    height: 588px;
    border: groove 2px royalblue;
    moz-border-radius: 16px;
    webkit-border-radius: 16px;
    border-radius: 16px;
    moz-box-shadow: 0px 12px 20px black;
    webkit-box-shadow: 12px 0px 20px black;
    box-shadow: 0px 12px 20px black;
}

legend {
    color: red;
    font-size: 20px;
}
.nhap input {
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    margin-left: 8%;
    margin-right: 12%;
}
.check {
    float: left;
    margin-left: 8%;
}
.qmk {
    float: right;
    margin-right: 12%;
}
.sumitt>input {
    width: 52.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 1% 28% 1% 8%;
}
.sumitt>input :hover {
    background-color: black;
}
.back {
    margin-left: 8%;
}
#checkgopy {
    margin-top: 0.5%;
    margin-left: 8%;
}
#texttt {
    margin-left: 8%;
}
#anhnen {
    moz-border-radius: 16px;
    webkit-border-radius: 16px;
    border-radius: 16px;
}
